@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Source+Sans+Pro&display=swap');


body {
    margin: auto;
    max-width: 1000px;
    font-family: 'Source Sans Pro', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

h1 {
    font-size: 25pt;
    font-family: Cabin, Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: .9em;
}