#logo {
  width: 215px;
  height: 100px;
}

body {
  display: grid;
  font-family: "Source Sans Pro", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15pt;
}

h1,
h2,
h3,
nav div a {
  font-size: 25pt;
  font-family: Cabin, Calibri, "Trebuchet MS", sans-serif;
}

header,
footer {
  width: 100%;
  background-color: #d1d1c9;
  align-content: center;
  justify-content: center;
  color: #171813;
}

#footer {
  margin: 50px;
}

footer {
  margin-top: 80px;
  display: block;
}

.header {
  display: flex;
  width: fit-content;
  margin: auto;
}

header {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

h1 {
  font-size: 1.4em;
}

header h2 {
  margin-top: -15px;
}

h2 {
  font-size: 1em;
}

h3,
p {
  font-size: 0.8em;
}

footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#navShow {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 20px;
  align-self: flex-start;
  border: none;
  padding: 5px 10px;
  border-radius: 15%;
}

#temperature {
  font-size: 2em;
}

#navShow,
nav,
#joinUsMessage {
  background-color: #36454f;
}

nav {
  text-align: center;
}

nav div {
  flex: 1 1 auto;
}

main section,
#spotlight {
  background-color: #eae7e2;
  border: #36454f81 1px solid;
  width: 100%;
  border-radius: 1%;
  height: 100%;
}

#spotlight {
  display: block;
  grid-row: 5/7;
}

main {
  margin-top: 50px;
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 60px;
  width: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 270px);
  font-size: 0.9em;
}

#spotlight {
  display: grid;
  grid-template-columns: 95%;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(2, 270px);
  gap: 20px;
  background-color: #eae7e2;
}

#joinUsMessage {
  width: 100%;
  color: #d1d1c9;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
}

#hero p {
  font-size: 1.7em;
}

#temp-details div {
  display: flex;
  font-size: .8em;
}

section p, section h2, section h3{
  margin: 10px;
}

#temperature {
  margin-top: 0;
  margin-bottom: 0;
}

#weather p {
  margin-top: 0;
}

section p, section a {
  font-weight: bold;
}

#hero p, #hero a {
  margin-left: 25px;
}

#join a {
  justify-self: center;

}

section a {
  font-size: 1.35em;
  background-color: #36454f;
  height: fit-content;
  width: fit-content;
  padding: 7px;
  color: #d1d1c9;
  text-decoration: none;
  border-radius: 5px;
}

section a:hover {
  text-decoration: none;
  background-color: #d1d1c9;
  color: #36454f;
}

p a:hover {
  text-decoration: none;
  color: #d1d1c9;
  background-color: #36454f;
}

p a {
  font-size: 1em;
  background: none;
  height: fit-content;
  width: fit-content;
  padding: 0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

#join, #event, #weather, #news {
  display: grid;
  justify-content: center;
  align-content: center;
}


#hero {
  background: url(../images/Milano-wide.jpg) no-repeat center center;
  background-clip: padding-box;
  background-size: cover;
  display: block;
  overflow: hidden;
}

.headerBottom {
  display: flex;
  flex-direction: column;
}

.no-small {
  display: none;
}


nav a {
  color: #fff;
  display: block;
  font-size: 0.9rem;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #708080;
}