@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Source+Sans+Pro&display=swap');


body, .paragraph {
    margin: auto;
    display: grid;
    max-width: 1000px;
    font-family: 'Source Sans Pro', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

h1, h2, h3, nav div a {
    font-size: 25pt;
    font-family: Cabin, Calibri, 'Trebuchet MS', sans-serif;
}

nav div a {
    font-size: .8em;
}

.heading{
    font-family: Cabin, Calibri, 'Trebuchet MS', sans-serif;
}

header, footer {
    background-color: #D1D1C9;
    padding: 40px;
    color: #171813;
}

header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


footer {
    display: block;
}

main {
    margin: 30px;
    justify-self: center;
    display: block;
    font-size: .9em;
}

.header-el {
    margin: 40px;
    
    font-size: 2em;
    align-self: center;
}

header img {
    max-width: 200px;
    border-radius: 5px;
}
