@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: auto;
    display: grid;
    max-width: 800px;
    font-family: 'Source Sans Pro', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

header, footer {
    background-color: lavender;
    padding: 40px;
}

main img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

header {
    display: inline-flex;
}

footer {
    display: block;
}

main {
    margin: 30px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    font-size: .9em;
}

main h2 {
    background-color: lavender;
    margin: 0;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

main h3 {
    font-size: 1.5em
}

main div {
    background-color: lavenderblush;
    margin: 10px;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
}

.el {
    display: grid;
    border-style: none;
    grid-template-columns: 1fr;
}

.header-el {
    margin: 40px;
}

header img {
    max-width: 200px;
    border-radius: 5px;
}

header h2{
    font-size: 2em;
    align-self: center;
}